*{margin: 0;padding: 0}
a{text-decoration: none}
.top{
    width: 1130px;
    height: 100px;
    position: relative;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.top>span{position: absolute}
.logo{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f56600 url("../images/mi-logo.png") center center;
    top: 50%;
    margin-top: -25px;
}
.mall{
    font-size: 33px;
    top: 18px;
    left: 70px;
}
.explain{
    font-size: 10px;
    top: 60px;
    left: 70px;
}
.middle{background: url("../images/banner.png") no-repeat;}
.frame{
    width: 1130px;
    padding: 33px 0;
}
.login{
    width: 400px;
    height: 525px;
    border: 1px solid ;
    background-color: white;
    float: right;
    text-align: center;
}
.frame:after{
    content: "";
    display: table;
    clear:both ;
}
.title{margin-top: 30px}
.acc,.space,.code{
    font-size: 23px;
    padding: 20px;
}
.acc{color: #f56600}
.code{color: #666666}
.space{color: #e0e0e0}
form input{
    width: 330px;
    height: 50px;
    border: 1px  solid #e0e0e0;
    outline: none;
    text-indent: 15px;
}
.mail{margin-top: 33px}
.pw{margin-top: 15px}
.liji{
    width: 332px;
    height: 52px;
    margin-top: 27px;
    background-color: #f56600;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
}
.zc{
    display: inline-block;
    margin-top: 20px;
    color: #999999;
    font-size: 13px;
}
.line>fieldset{
    border-top: 1px solid #E0E0E0;
    width: 332px;
    margin-top: 100px
}
fieldset{border: none;}
.line legend{color: #BBBBBB;font-size: 14px}

.else{text-align: center;position: relative}
.else>a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 17px;
    position: relative;
    background-color: #747474;
}
.else span{
    display: inline-block;
    width: 18px;
    height: 18px;
    /*background: url("../images/icons_type.png") no-repeat;*/
    background-image: url("../images/icons_type.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -9px;
}
.qq{background-position-x: -20px;}
.wb {background-position-x: -38px;}
.else .zf{width: 24px;background-position-x: -58px}
.else .wx{
    width: 24px;
    background-position-x: -84px;
    margin-left: -12px;
}
.bottom{
    text-align: center;
    margin-top: 60px;
}
.bottom a,.bottom span{font-size: 12px;;color: #333333;}
.copyright{margin-top: 15px;}
.jt a,.jt span{padding: 3px}

.copyright button{
    background: url("../images/ghs.png") no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}